<ion-list [inset]="true">
  <ion-item button [detail]="true">
    <ion-avatar slot="start">
      <ion-icon size="large" name="happy-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>{{entry.name}}</h2>
      <p>{{entry.content}}</p>
    </ion-label>
    <ng-container *ngFor="let label of entry.labels">
      <ion-chip [outline]="true" [color]="(label==='important')?'danger':''" >
        <ion-avatar *ngIf="label==='important'"><ion-icon name="alert-circle-outline"></ion-icon></ion-avatar>
        <ion-label>{{label}}</ion-label>
      </ion-chip>
    </ng-container>
  </ion-item>
</ion-list>
