<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="primary">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <app-quill></app-quill>
  </div>
</ion-content>
