ion-list {
  padding: 1.75rem 0 0 0;
}

ion-note {
  display: inline-block;
  margin-block-end: 1rem;
  line-height: 1.5rem;
  font-size: 1rem;
  color: var(--ion-color-medium-shade);
}

ion-list-header,
ion-note {
  padding-inline-start: 1rem;
}

ion-list#entry-type-list {
  border-block-end: 1px solid var(--ion-color-step-150, #d7d8da);

  & ion-list-header {
    font-size: 1.5rem;
    font-weight: 600;
    min-height: 1.25rem;
  }
}


ion-list#labels-list ion-list-header {
  font-size: 1rem;
  margin-block-end: 1rem;
  min-height: 1.5rem;
  color: #757575;
}

ion-item {
  --padding-inline: 1rem;
  --min-height: 50px;
  border-radius: 0.25rem;
}

ion-item:hover {
  --background: rgba(var(--ion-color-tertiary-rgb), 0.14);
}

ion-item.selected {
  --background: rgba(var(--ion-color-tertiary-rgb), 0.4);
  --color: var(--ion-color-primary);
}

ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-item ion-icon {
  font-size: 1.5rem;
  color: #73849a;
}

ion-item ion-label {
  font-weight: 500;
}

