<ion-list id="entry-type-list">
  <ion-list-header>Entries</ion-list-header>
  <ion-note>Have a great day!</ion-note>

  <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
    <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" routerLinkActive="selected">
      <ion-icon color="primary" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
      <ion-label>{{ p.title }}</ion-label>
    </ion-item>
  </ion-menu-toggle>
</ion-list>

<ion-list id="labels-list">
  <ion-list-header>Labels</ion-list-header>
  <ion-menu-toggle auto-hide="false" *ngFor="let label of labels">
    <ion-item lines="none">
      <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
      <ion-label>{{ label }}</ion-label>
    </ion-item>
  </ion-menu-toggle>
</ion-list>



