<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="primary">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ id }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ id }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ng-container *ngIf="creatingNewEntry; else viewEntries">
      <app-create></app-create>
    </ng-container>
    <ng-template #viewEntries>
      <ng-container *ngFor="let entry of entries$ | async">
        <p>{{entry.lastSaved.toDate() | date: 'dd MMM yyyy, h:mm:ss a'}}</p>
        <app-list [entry]="entry" (click)="selectEntry(entry)"></app-list>
      </ng-container>
    </ng-template>
  </div>
</ion-content>
